{% extends 'base.html' %}

{% block content %}

<section class="mt-4 mb-5">
    <div class="container mb-4">
        <h1 class="font-weight-bold title">Explore</h1>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
            <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExplore">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index', category='Lifestyle') }}">Lifestyle</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index', category='Food') }}">Food</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index', category='Home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index', category='Travel') }}">Travel</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ url_for('index', category='Astronomy') }}">Astronomy</a>
                        <a class="dropdown-item" href="{{ url_for('index', category='Nature') }}">Nature</a>
                        <a class="dropdown-item" href="{{ url_for('index', category='Cooking') }}">Cooking</a>
                        <a class="dropdown-item" href="{{ url_for('index', category='Fashion') }}">Fashion</a>
                        <a class="dropdown-item" href="{{ url_for('index', category='Wellness') }}">Wellness</a>
                        <a class="dropdown-item" href="{{ url_for('index', category='Dieting') }}">Dieting</a>
                    </div>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card-columns">

                {% for image in images_list %}
                <div class="card card-pin">
                    <img class="card-img" src="/static/portal_images/{{image.id}}.jpg" alt="{{image.title}}" >
                    <div class="overlay">
                        <h2 class="card-title title">{{ image.title }}</h2>
                        <div class="more">
                            <a href="post.html">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}