{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mb-5">
    <center><h1 style="padding-top:40px;font-weight: 750;">Celebrating Sustainability at Pinterest 🌱</h1></center>
    
    {% for image in images_list %}
    <center><h3 style="padding-top: 50px;">{{image.date}}</h3></center>
	<div class="row" style="padding-top: 50px;padding-left: 200px;padding-right: 200px;">
		<div class="card-columns exclusive" style="width: 100%;">


			<div class="card card-pin shadow" style="border-radius: 25px;">
				<div class="image-container">
					<img class="card-img image" src="/static/admin_promo/adv{{image.id}}.jpg" alt="{{image.advertisement_title}}" >
				</div>

				<div class="card-body">
					<a class="card-link" href="{{ image.advertisement_link }}"><h5 class="card-title title">{{ image.advertisement_title }}</h5></a>
				</div>
			</div>
            <div class="card card-pin shadow" style="border-radius: 25px;">
				<div class="image-container">
					<img class="card-img image" src="/static/admin_promo/thought{{image.id}}.jpg" alt="{{image.thought_title}}" >
				</div>

				<div class="card-body">
					<a class="card-link" href="{{ image.thought_link }}"><h5 class="card-title title">{{ image.thought_title }}</h5></a>
				</div>
			</div>
		</div>
	</div>
    {% endfor %}
</div>

{% endblock %}