{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">List Image</h1>
      <p>Enter details for Image to be listed on our portal. <br>
          All items shall be displayed in order and appropriately. <br>Enter associated information so that 
        website can render images with ease and according to category. </p>
    </div>
</div>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

{% if success %}
<p class="success">{{success}}</p>
{% endif %}

<script>
    function readurl(input){
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#preview')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
    }
</script>

<div class="container">

    <div class="row">
        <div class="col">
            <img src="/static/img/default-img.jpg" id="preview" width="500" height="500">
        </div>
        <div class="col">
            <form action='{{ url_for("post") }}' method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="itemname">Title:</label>  <br>
                    <input type="text" class="form-control"  id="itemname" name="iname" placeholder="Enter Item Name..">
                </div>
                
                <div class="form-group">
                    <label for="description">Description:</label>  <br>
                    <textarea rows="6" class="form-control" id="description" name="desc" placeholder="Enter description.."></textarea>
                </div>
                    
                <div class="form-group">
                    <label for="stocking">Links:</label>  <br>
                    <textarea rows="3" class="form-control" id="description" name="links" placeholder="Enter links.."></textarea>
                </div>
            
                <div class="form-group">
                    <label for="image">Upload Image</label> <br>
                    <input type="file" id="image" name='img' onchange="readurl(this)">
                </div>

                <div class="form-group">
                    <label for="category">Category</label> <br>
                    <select name="cat" id="category">
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Food">Food</option>
                        <option value="Home">Home</option>
                        <option value="Travel">Travel</option>
                        <option value="Astronomy">Astronomy</option>
                        <option value="Nature">Nature</option>
                        <option value="Cooking">Cooking</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Wellness">Wellness</option>
                        <option value="Dieting">Dieting</option>
                    </select>
                </div>
            
                <button class="btn btn-primary" type="submit">List Item</button>
            </form>
        </div>
    </div>

</div>



{% endblock %}