{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">

  {% if error %}
  <p class="error">{{error}}</p>
  {% endif %}

<div class="jumbotron">
    <div class="container-fluid">
      <h1 class="display-3">Login or Register</h1>
      <p>Already have an account! Then login and start purchasing your medicine essentials. If not try creating an account! </p>
    </div>
</div>

<div class="container-fluid">
  <center>
    <div class="row">
      <div class="col-sm-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/img/signup.jpg" alt="Register" height="200" width="400">
            <div class="card-body">
              <h5 class="card-title"style=" text-align: center !important;">Register User</h5>
              <p class="card-text"style=" text-align: center !important;" >Create your account if you haven't already.</p>
              <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
            </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/img/signin.png" alt="Signin" height="200" width="400">
            <div class="card-body">
              <h5 class="card-title" style=" text-align: center !important;">SignIn User</h5>
              <p class="card-text"style=" text-align: center !important;">Already created account! Now login.</p>
              <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
            </div>
        </div>
      </div>
    </div>
    </center>
</div>
</div>

{% endblock %}